<form
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
  class="space-y-5 bg-transparent"
>
  <div class="space-y-1 text-left mb-6">
    <h2 class="text-xl font-medium tracking-tight text-zinc-100">
      Crear una cuenta
    </h2>
    <p class="text-sm text-zinc-500">
      Ingresa tus datos para empezar a comprar.
    </p>
  </div>

  <div class="grid grid-cols-2 gap-4">
    <div class="space-y-2">
      <label class="text-xs font-medium uppercase tracking-wider text-zinc-400">
        Nombre
      </label>
      <input
        type="text"
        formControlName="firstName"
        class="flex h-9 w-full rounded-md border border-zinc-800 bg-zinc-950/50 px-3 py-1 text-sm text-zinc-100 ring-offset-black placeholder:text-zinc-700 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-zinc-400 transition-all"
        placeholder="Juan"
      />
       @if (formUtils.isValidField(form,'firstName')) {
            <div class="text-sm text-red-500 mt-1">
                {{ formUtils.getFieldError(form, 'firstName') }}
            </div>
        }
    </div>
    <div class="space-y-2">
      <label class="text-xs font-medium uppercase tracking-wider text-zinc-400">
        Apellido
      </label>
      <input
        type="text"
        formControlName="lastName"
        class="flex h-9 w-full rounded-md border border-zinc-800 bg-zinc-950/50 px-3 py-1 text-sm text-zinc-100 ring-offset-black placeholder:text-zinc-700 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-zinc-400 transition-all"
        placeholder="Pérez"
      />
       @if (formUtils.isValidField(form,'lastName')) {
            <div class="text-sm text-red-500 mt-1">
                {{ formUtils.getFieldError(form, 'lastName') }}
            </div>
        }
    </div>
  </div>

  <div class="space-y-2">
    <label class="text-xs font-medium uppercase tracking-wider text-zinc-400">
      Email
    </label>
    <input
      type="email"
      formControlName="email"
      class="flex h-10 w-full rounded-md border border-zinc-800 bg-zinc-950/50 px-3 py-2 text-sm text-zinc-100 ring-offset-black placeholder:text-zinc-700 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-zinc-400 transition-all"
      placeholder="correo@ejemplo.com"
    />
        @if (formUtils.isValidField(form,'email')) {
            <div class="text-sm text-red-500 mt-1">
                {{ formUtils.getFieldError(form, 'email') }}
            </div>
        }
  </div>

  <div class="space-y-2">
    <label class="text-xs font-medium uppercase tracking-wider text-zinc-400">
      Contraseña
    </label>
    <input
      type="password"
      formControlName="password"
      class="flex h-10 w-full rounded-md border border-zinc-800 bg-zinc-950/50 px-3 py-2 text-sm text-zinc-100 ring-offset-black placeholder:text-zinc-700 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-zinc-400 transition-all"
      placeholder="••••••••"
    />
        @if (formUtils.isValidField(form,'password')) {
            <div class="text-sm text-red-500 mt-1">
                {{ formUtils.getFieldError(form, 'password') }}
            </div>
        }
    <p class="text-[10px] text-zinc-500 italic">Mínimo 8 caracteres.</p>
  </div>

  <button
    type="submit"
    [disabled]="form.invalid"
    class="w-full h-10 mt-4 rounded-md bg-zinc-100 text-zinc-950 text-sm font-semibold hover:bg-zinc-300 disabled:opacity-50 disabled:cursor-not-allowed transition-colors shadow-[0_0_20px_-5px_rgba(255,255,255,0.3)]"
  >
    Crear cuenta
  </button>

  <p class="text-center text-sm text-zinc-500 mt-4">
    ¿Ya tienes cuenta?
    <a [routerLink]="['/auth/login']" class="text-zinc-200 hover:underline underline-offset-4 cursor-pointer">Inicia sesión</a>
  </p>
</form>
