<app-home-image-header title="Tienda" />

<div class="max-w-7xl mx-auto px-4 py-10">
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-8">

    <aside class="lg:col-span-1">
      <app-category-list />
    </aside>

    <section class="lg:col-span-3">
       <div class="flex justify-end mr-7">
        <app-product-search-by-word />
      </div>

      <app-home-product-list />

    </section>

    <section class="lg:col-span-4">
       <app-home-newsletter-form />
    </section>

  </div>
</div>

