<form id="form-checkout">
  <div id="form-checkout__cardNumber"></div>
  <div id="form-checkout__expirationDate"></div>
  <div id="form-checkout__securityCode"></div>
  <input id="form-checkout__cardholderName" type="text" />
  <select id="form-checkout__issuer"></select>
  <select id="form-checkout__installments"></select>
  <select id="form-checkout__identificationType"></select>
  <input id="form-checkout__identificationNumber" type="text" />
  <input id="form-checkout__cardholderEmail" type="email" />
  <button type="submit" id="form-checkout__submit">Pay</button>
</form>
