<!-- TÍTULO -->
<section class="py-10 text-center">
  <h1 class="text-4xl md:text-5xl font-semibold text-neutral-900 dark:text-black">
    Mi carrito
  </h1>

  <p class="mt-2 text-neutral-500">
    Revisa tus productos antes de pagar
  </p>
</section>

<!-- CONTENIDO -->
<section class="max-w-6xl mx-auto px-6 pb-16">

  @if (isLoading()) {

    <div class="text-center text-neutral-500">
      <app-loading-spinner />
    </div>

  } @else if (cartItems().length === 0) {

    <div class="text-center text-neutral-500">
      Tu carrito está vacío
    </div>

  } @else {

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">

      <!-- LISTA DE ITEMS -->
      <app-cart-item-list class="lg:col-span-2" />

      <!-- RESUMEN / PAGO -->
      <app-cart-summary />

    </div>

  }

  @if (error()) {
    <div class="text-center text-red-500 mt-4">
      {{ error() }}
    </div>
  }

</section>
